.friend-list {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  padding-top: 40px;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);

  &__item {
    position: relative;
  }
}
