.statistics {
  background-color: #fff;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);

  &__title {
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &__stat-list {
    display: flex;
  }

  &__label {
    font-size: 20px;
    color: #dfdfdf;
    margin-bottom: 15px;
  }

  &__percentage {
    font-size: 35px;
    color: #dfdfdf;
  }

  &__stat-list &__item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    background-color: rgb(233, 233, 233);
  }
}
